[Unit]
Description=Cloudflare Tunnel Service
After=network.target

[Service]
ExecStart=/usr/local/bin/cloudflared tunnel run --token {TOKEN}
Restart=always
RestartSec=5
User=root
StandardOutput=append:/var/log/cloudflared.log
StandardError=append:/var/log/cloudflared.log

[Install]
WantedBy=multi-user.target